<p>dialogs works!</p>


<h1>Dialog generic delete</h1>

<button class="button-title" mat-flat-button color="accent" (click)="clickButtonDelete()"
    i18n="@@conf-tipo-cartera_columnaEliminar">
    <mat-icon aria-hidden="false" aria-label="Eliminar">delete</mat-icon>
    Delete
</button>


<br><br><br>
<h1>Dialog sync </h1>

<button class="button-title" mat-flat-button color="accent" (click)="openSyncDialog()"
    i18n="@@conf-tipo-cartera_columnaEliminar">
    <mat-icon aria-hidden="false" aria-label="Eliminar">delete</mat-icon>
    Delete
</button>


<br><br><br>
<h1>Dialog Async </h1>

<button class="button-title" mat-flat-button color="accent" (click)="openAsyncDialog()"
    i18n="@@conf-tipo-cartera_columnaEliminar">
    <mat-icon aria-hidden="false" aria-label="Eliminar">delete</mat-icon>
    Delete
</button>