<div class="container flex items-center justify-center h-full">
    <div
        class="grid max-w-lg p-6 text-center shadow-2xl  bg-gray-50 rounded-xl md:p-12 place-items-center bg-opacity-5 backdrop-filter backdrop-blur">
        <h1 class="mb-8 text-3xl">The page you were looking for was not found</h1>
        <a [routerLink]="['/home']"
            class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg  hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none">
            Take me somewhere nice
        </a>
    </div>
</div>