
.mat-row.highlighted
    background: lightblue

.filter-input
    display: flex
    justify-content: flex-end

.buscarInput
    text-align: end
    .mat-form-field
        width: 30%

.buscarIcon
    color: #5d5b5b
    margin-right: 10px
