<h1> Table select check - icons downloaded</h1>


<div class="buttons-title">
    <button class="button-title" mat-flat-button color="accent" (click)="clickButtonNew()"
        i18n="@@conf-escenario_crearCorreo">
        <mat-icon aria-hidden="false" aria-label="New Escenario" svgIcon="add_box"></mat-icon>
        New
    </button>
    <button class="button-title" mat-flat-button color="accent" (click)="clickButtonDelete()"
        [disabled]="!selection.hasValue()" i18n="@@conf-escenario_columnaEliminar">
        <mat-icon aria-hidden="false" aria-label="Eliminar Escenario" svgIcon="delete"></mat-icon>
        Delete
    </button>
</div>


<div class="buscarInput">
    <mat-icon class="buscarIcon" matSufix aria-hidden="false" aria-label="Search">search</mat-icon>&nbsp;
    <mat-form-field>
        <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Search" #input>
    </mat-form-field>
</div>


<div class="containerMatTable">
    <table mat-table [dataSource]="dataSourceEscenarios" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null;"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>
                <span mat-sort-header i18n="@@conf-escenario_columnaNombre"> Nombre </span>
            </th>
            <td mat-cell *matCellDef="let escenario"> {{escenario.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="grupoGasto">
            <th mat-header-cell *matHeaderCellDef>
                <span mat-sort-header i18n="@@conf-escenario_columnaNombreVariableMotor"> grupoGasto </span>
            </th>
            <td mat-cell *matCellDef="let escenario"> {{escenario.grupoGasto}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngStyle]="{'pointer-events': row.flag_obligatorio ? 'none' : 'all'}" (click)="clickButtonEdit(row)"></tr>

    </table>
    <div class="mat-table-no-items"
        *ngIf="!(dataSourceEscenarios.filteredData?.length > 0) && (dataSourceEscenarios.data?.length > 0) ">No se
        encontraron registros para el filtro "{{input.value}}"</div>
    <div class="mat-table-no-items" *ngIf="!(dataSourceEscenarios.data?.length > 0)">No se encontraron registros</div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>